name: algolia-scraper
on:
  push:
    branches: [main]
jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v
      - name: scrape the website
        with:
          node-version: '16.x'
          cache: 'yarn'
      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: build index using Algolia Scrapper
        env:
          # generated when you create a project on algolia website after you sign up
          APPLICATION_ID: ${{ secrets.APPLICATION_ID }} 
          # API key be sure to have the right permissions
          WRITE_API_KEY: ${{ secrets.API_KEY }} 
          SITE_URL: ${{ secrets.SITE_URL }}
          #docusaurus or anything if you want ot change it
          INDEX_NAME: ${{ secrets.INDEX_NAME }}
          # run: create .env file and run bash script scrape.sh
        run: |
          touch .env  
          ./scrape.sh

